/* Dropdown menu css */
.dropdown-toggle::after{display:none}
.dropdown-container {
  position: relative;
   width: 100%;
}
.dropdown-container .dropdown-toggle {
  color: #000000;
  background-color: #ffffff;
  font-size: 17px;
  padding: 18px 20px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.dropdown-container .dropdown-toggle label {
  cursor: pointer;
  width: 100%;
}
.dropdown-container .dropdown-toggle:hover, .dropdown-container .dropdown-toggle:active, .dropdown-container .dropdown-toggle:focus {
  background-color: #000;
  color: #ffffff;
}
.dropdown-container .dropdown-menu {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  margin-top: 17px;
  position: absolute;
  left: 0;
  top: 75%;
  display: none;
  background-color: #ffffff;
  z-index: 10;padding:0
}
.dropdown-container .dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  z-index: 10;
}
.dropdown-container .dropdown-menu a {
  text-decoration: none;
  display: block;
  color: #000000;
  font-size:22px;
  padding:12px 20px;
  font-weight:500;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s;text-align:center
}
.dropdown-container .dropdown-menu a:hover, .dropdown-container .dropdown-menu a:active,.dropdown-container .dropdown-menu a.active, .dropdown-container .dropdown-menu a:focus {
  background-color: #000;
  color: #ffffff;
}

.dropdown-menu,
.dropdown-toggle {
  position: relative;
}
.dropdown-toggle::before {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  border: 2px solid transparent;
  border-top-color: rgba(0, 0, 0, 1);
  border-right-color: rgba(0, 0, 0, 1);
  margin-top: -2.5px;
  width:10px;height:10px;
  transition: all ease-in-out 0.2s;
}
.dropdown-toggle:hover::before{ border-top-color: rgba(255, 255, 255, 1);
  border-right-color: rgba(255, 255, 255, 1);}
.dropdown-menu li a{}
.dropdown-menu::before
{
 /* content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  border: 5px solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  margin-top: -2.5px;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
	width:10px;height:10px;border-top:2px solid #000;border-right:2px solid #000;*/
}



.dropdown-menu {
  z-index: 10;
  position: relative;
}
.dropdown-menu::before {
  z-index: -1;
  transform: rotate(-135deg);
  top: -4px;
  border-color: var(--black-color);
  box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
}

.dropdown-open .dropdown-menu.dropdown-active {
  display: block;
}

.dropdown-container.dropdown-open .dropdown-toggle {
  background-color: #000;
  color: #ffffff;
}
.dropdown-container .dropdown-toggle.active:before{transform:rotate(135deg);border-top-color: rgba(255, 255, 255, 1);
  border-right-color: rgba(255, 255, 255, 1);}
.dropdown-container.dropdown-open .dropdown-toggle:before {
  transform:rotate(-45deg);border-top-color: rgba(255, 255, 255, 1);
  border-right-color: rgba(255, 255, 255, 1);
}
.dropdown-container .dropdown-toggle.active:before {
margin-top: -7.5px;
}
.dropdown-bordered .dropdown-toggle {
  border: 2px solid #000000;
  border-radius: 10px;
}
.dropdown-bordered .dropdown-toggle:hover, .dropdown-bordered .dropdown-toggle:active, .dropdown-bordered .dropdown-toggle:focus {
  background-color: #000;
  color: #ffffff;
  border-color: #ffffff;
}
.dropdown-bordered .dropdown-menu {
  border: 2px solid #000000;
  border-radius: 10px;
}
.dropdown-bordered .dropdown-menu::before {
  border-color: #000000;
}
.dropdown-bordered .dropdown-menu a {
  box-shadow: none;
  border-bottom: 2px solid #000000;
}
.dropdown-bordered .dropdown-menu li:last-child a {
  border-bottom: 0;
}

.dropdown-gradient .dropdown-toggle,
.dropdown-gradient .dropdown-menu,
.dropdown-gradient a {
  background: #ff3131;
  background: -moz-linear-gradient(262deg, #ff3131 11%, #5400ff 100%);
  background: -webkit-linear-gradient(262deg, #ff3131 11%, #5400ff 100%);
  background: linear-gradient(262deg, #ff3131 11%, #5400ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3131",endColorstr="#5400ff",GradientType=1);
  color: #ffffff;
}
.dropdown-gradient .dropdown-toggle::before {
  color: #ffffff;
}
.dropdown-gradient .dropdown-menu a {
  background: none;
  box-shadow: none;
  color: #ffffff;
}
.dropdown-gradient .dropdown-menu a:hover, .dropdown-gradient .dropdown-menu a:active, .dropdown-gradient .dropdown-menu a:focus {
  background: #ff3131;
  background: -moz-linear-gradient(66deg, #ff3131 11%, #5400ff 100%);
  background: -webkit-linear-gradient(66deg, #ff3131 11%, #5400ff 100%);
  background: linear-gradient(66deg, #ff3131 11%, #5400ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3131",endColorstr="#5400ff",GradientType=1);
}
.dropdown-gradient .dropdown-menu::before {
  box-shadow: none;
  border-color: #ff3131;
}

.dropdown-solid .dropdown-toggle,
.dropdown-solid .dropdown-menu {
  background-color: #0979CE;
  color: #ffffff;
}
.dropdown-solid .dropdown-menu a {
  color: #ffffff;
}
.dropdown-solid .dropdown-menu a:hover, .dropdown-solid .dropdown-menu a:active, .dropdown-solid .dropdown-menu a:focus {
  background-color: #ffffff;
  color: #000000;
}
.dropdown-solid .dropdown-menu::before {
  border-color: #0979CE;
}
